.container {
  align-items: center;
  background-image: url(../images/whitebg.png); 
  background-color: #33080A;
  color: var(--green-color);
  display: flex;
  font-size: 8rem;
  height: 20rem;
  justify-content: center;
  margin: 1rem auto;
  padding: 2rem;
  text-align: center;
  width: 50vw;
}