.container {
  background-image: url(../images/greenbg.png);
  padding: 1rem;
  text-align: center;
  width: 100%;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

@media (max-height: 800px) {
  .container {
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
  }

  .titel {
    font-size: 2rem;
  }
}
