.grid {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin: 5rem auto 10rem;
  width: 80vw;
}

.footer {
  background-image: url(../images/greenbg.png);
  bottom: 0;
  justify-self: center;
  font-size: 1rem;
  color: white;
  padding: 1rem;
  position: fixed;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

@media (max-width: 600px) {
  .grid {
    width: 100vw;
  }
}
