.container {
  display: grid;
  grid-template-columns: 1fr 10ch;
  grid-template-areas:
    "label copy"
    "code code";
  gap: 0.5rem;
  margin: 2rem auto;
  width: 50vw;
}

.label {
  background-image: url(../images/greenbg.png);
  color: white;
  font-size: 1.2rem;
  grid-area: label;
  padding: 0.5rem 1.5rem;
  width: fit-content;
}

.code {
  background-color:white;
  color: var(--blue-color);
  font-size: 1.3rem;
  font-family: monospace;
  grid-area: code;
  overflow-x: hidden;
  padding: 1rem;
}

.copy {
  align-self: center;
  background-color: var(--green-color);
  border: none;
  color: white;
  font-family: "Venice", sans-serif;
  font-size: 1.2rem;
  grid-area: copy;
  justify-self: end;
  padding: 0.5rem 1rem;
}
